.homeBg
{
    background-image: url(./assets/REALtvBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.bowenBg
{
    background-image: url(./assets/converted_image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.btnSizer
{
    margin-top: 600px;
    
}
.btnText
{
    font-size: 30px;
}

.navTweak
{
    border-width: 1px;
    border-color: rgb(82, 82, 82);
}