
@font-face { font-family: IrishGrover; src: url(./assets/IrishGrover.ttf); } 


.homeBg
{
    background-image: url(./assets/REALtvBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.bowenBg
{
    background-image: url(./assets/fgroom.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.aDecoBgone
{
    text-decoration: none;
}

.btnSizer
{
    margin-top: 600px;
    
}
.btnText
{
    font-size: 30px;
}

.navTweak
{
    border-width: 1px;
    border-color: rgb(82, 82, 82);
}

.homeTitle
{
    margin-top: 430px;
    color: red;
    font-family: IrishGrover;
   
}
.textSizer
{
    font-size: 50px;
}
.bowenHeight {
    height: 400px;
}