
@font-face { font-family: IrishGrover; src: url(./assets/IrishGrover.ttf); } 


.homeBg
{
    background-image: url(./assets/REALtvBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.bowenBg
{
    background-image: url(./assets/fgroom.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.juanBg
{
    background-image: url(./assets/animeWatcher.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
.aDecoBgone
{
    text-decoration: none;
}

.btnSizer
{
    margin-top: 600px;
    
}
.btnText
{
    font-size: 30px;
}

.navTweak
{
    border-width: 1px;
    border-color: rgb(82, 82, 82);
}

.homeTitle
{
    margin-top: 430px;
    color: red;
    font-family: IrishGrover;
   
}
.textSizer
{
    font-size: 50px;
}
.bowenHeight {
    height: 400px;
}


.juanTitle
{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10;
}

.juanContainer
{
    display: flex;
    justify-content: center;
}

.cardContentSizer
{
    width:300px; 
    height:315px;
}


.bowenContainer 
{
    display: flex;
    justify-content: center;
}




@media screen and ( max-width: 800px ) {

    .homeTitle
    {
        margin-right: 87px;
        margin-top: 430px;
        color: red;
        font-family: IrishGrover;
      
    }
    .textSizer
    {
        font-size: 25px;
    }

}